.acf-component-disabled-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(255,255,255,.7);
}

#acf-field-group-locations.is-acf-component .acf-component-disabled-overlay{
    display: block;
}

#acf-field-group-options.is-acf-component .acf-component-disabled-overlay{
    display: block;
}
