.acf-fields > .acf-hide-outer-boundary {
    padding-left: 0;
    padding-right: 0;
}

.acf-hide-outer-boundary > .acf-label {
    padding-left: 12px;
}

.acf-hide-outer-boundary > .acf-input > .-block > .acf-table {
    border: none;
}

.acf-hide-outer-boundary > .acf-input > .-block > .acf-table > tbody > .acf-row > .acf-fields > .acf-tab-wrap {
    background: none;
}

.acf-hide-outer-boundary > .acf-input > .-block > .acf-actions {
    padding-left: 12px;
    padding-right: 12px;
}

.acf-hide-outer-label > .acf-label {
    display: none;
}
