/* Roles */
.no-publish a.page-title-action,
.no-publish a[href^="post-new.php"],
.no-publish .taxonomy-add-new,
.no-publish.taxonomy-item #col-container #col-left,
.no-publish #wp-admin-bar-new-content{ display: none!important; }

.no-publish.taxonomy-item #col-container #col-right{ width: 100%; float: none }

.no-acf_edit_layout [data-name="add-layout"],
.no-acf_edit_layout [data-name="remove-layout"]
{ display: none!important }

.no-acf_edit_image .acf-field-image .acf-actions.-hover,
.no-acf_edit_file .acf-field-file .acf-actions.-hover{ display: none!important }

.no-acf_edit_layout .acf-repeater .acf-actions,
.no-acf_edit_layout [data-event="add-row"],
.no-acf_edit_layout [data-event="remove-row"]
{ display: none!important }

.no-acf_edit_layout .acf-flexible-content .layout .acf-fc-layout-handle{ cursor: pointer!important }

.no-acf_edit_true-false .acf-field-true-false .acf-input label,
.no-acf_edit_radio .acf-field-radio .acf-input label,
.no-acf_edit_post-object .acf-field-post-object .select2
{ pointer-events: none!important; opacity: 0.5; }

/* Bundle specific */
.options-media-php .wrap .form-table tr:nth-child(2),
.options-media-php .wrap .form-table tr:nth-child(3){ display: none }

#the-list .attachment-thumbnail-container{ position: relative; display: inline-block }
#the-list .attachment-thumbnail-container:hover .attachment-thumbnail{ display: block; z-index: 999 }
#the-list .attachment-thumbnail{ width: 60px; height: auto; border-radius: 2px; display: block }
#the-list .attachment-thumbnail+.attachment-thumbnail{ width: auto; position: absolute; left: 50%; top: 50%; display: none; transform: translate(-50%, -50%); box-shadow: 0 0 4px rgba(0,0,0,0.2) }
#the-list .attachment-thumbnail-container+a{ display: none!important }
.manage-column.num{ text-align: left }

.headless #post-preview, .headless #wp-admin-bar-view{ display: none }

/* Bugfix */
.js .tmce-active .wp-editor-area { color: inherit!important }
.compat-item .label { min-width: 20%; margin-right: 3% }
.compat-item .field { width: 77%; margin: 0; padding-top: 5px }
.compat-item .field > input { margin-left: 0!important; margin-top: 0!important }
.media-modal .compat-item label { font-size: 12px }

/* Quick redesign */
ul.categorychecklist.has-children > li{ padding-bottom: 8px; border-bottom: 1px solid #ddd; margin-bottom: 5px }
ul.categorychecklist.has-children > li > label{ font-weight: 600 }
.categorydiv ul.categorychecklist ul{ margin-left: 15px }
.post-php, body[class*="toplevel_page_acf-options"], .post-new-php { background: linear-gradient(-90deg, rgba(238,238,238,1) 0%, rgba(238,238,238,1) 290px, rgba(230,230,230,1) 300px, rgba(255,255,255,1) 300px, rgba(255,255,255,1) 100%); }
@media only screen and (max-width: 850px){
    .post-php, body[class*="_page_"], .post-new-php{ background: #fff }
}
.post-php .wrap h1, .post-new-php .wrap h1{ font-size: 16px }
.post-new-php .wp-core-ui .notice.is-dismissible, .post-new-php .update-nag, .post-new-php .notice, .post-new-php div.error, .post-new-php div.updated,
.post-php .wp-core-ui .notice.is-dismissible, .post-php .update-nag, .post-php .notice, .post-php div.error, .post-php div.updated,
body[class*="_page_"] .wp-core-ui .notice.is-dismissible, body[class*="_page_"] .update-nag, body[class*="_page_"] .notice, body[class*="_page_"] div.error,
body[class*="_page_"] div.updated{
    box-shadow: 0 0 3px rgba(0,0,0,0.15)!important; width: calc(100% - 300px); margin-top: 10px; box-sizing: border-box;
}
.wp-admin select, #menu-management .menu-edit, #menu-settings-column .accordion-container, .comment-ays, .feature-filter,
.imgedit-group, .manage-menus, .menu-item-handle, .popular-tags, .stuffbox, .widget-inside, .widget-top,
.widgets-holder-wrap, .wp-editor-container, p.popular-tags, table.widefat, .widefat thead td, .widefat thead th,
input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month],
input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time],input[type=checkbox],
input[type=url], input[type=week], select, textarea, .widefat tfoot td, .widefat tfoot th, .postbox{ border-color: #e0e0e0; border-radius: 0 }
input[type=checkbox]{ border-color:#b4b9be; border-radius: 0 }
.wp-core-ui .button, .wp-core-ui .button-secondary { color: #555; border-color: #ccc; background: #f7f7f7; box-shadow: 0 1px 0 #ccc }
.wp-core-ui .button-primary { color:#fff; background: #007cba; border-color: #007cba }
.postbox .hndle, .stuffbox .hndle { border-bottom: 0 }
.meta-box-sortables select { padding: 4px 8px; }
.notice, div.error, div.updated{ border-bottom: 0; border-right: 0; border-top: 0 }

#side-sortables .postbox{ background: none; border: 0; border-bottom: 1px solid #ddd; margin-bottom: 0; padding: 10px 0 }
#side-sortables .postbox:last-of-type{ border-bottom: 0 }
#major-publishing-actions{ background: none; padding-bottom: 0 }
input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], textarea { box-shadow: inset 0 1px 2px rgba(0,0,0,.07)!important }
.meta-box-sortables select { width: 100%; border-radius: 3px }
#post-body.columns-2 #postbox-container-1 { width: 270px }
*{ box-shadow: none!important; text-shadow: none!important }
#footer-thankyou{ display: none }
th#mslscol{ width: 25px }
.fixed th.column-date{ width: 15% }
#minor-publishing-actions .preview{ width: 100% }
#post-body #visibility:before, #post-body .misc-pub-post-status:before, #post-body .misc-pub-revisions:before, .curtime #timestamp:before{ font-size: 18px }
#contextual-help-link-wrap{ display: none }
#comment-link-box, #edit-slug-box{ padding-left: 0 }
.mce-top-part::before{ display: none }
.misc-pub-section a{ float: right }
#save-post, #save-action .spinner{ float: right }
#save-action:after, #poststuff .inside:after{ content: ''; display: table; clear: both }
#save-action+#preview-action{ margin-top: 10px }
.postbox-container .inside{ margin: 10px 0 }
.form-wrap p, p.description, p.help, span.description { line-height: 110%; opacity: 0.8 }
.field-link-target{ clear: both }
#wp-content-editor-tools{ background: none }
#timestampdiv select{ width: auto }

/* MSLS */
#msls_noncename ~ .button-secondary{ display: none }


/* ACFHelper */
.select2-container.-acf .select2-selection{ border-color: #e0e0e0; border-radius: 0 }
.acf-label:empty{ display: none }
.acf-fields.-border{ border-color:#eee }
.acf-relationship .filters .filter input, .acf-relationship .filters .filter select { height: 30px; padding: 4px 8px }
#postbox-container-1 .acf-gallery-sort{ display: none }
.acf-table, .acf-input-prepend, .acf-input-append, .acf-relationship, .acf-relationship .filters{ border-color:#e0e0e0 }
.acf-editor-wrap .wp-editor-container, .html-active .switch-html, .tmce-active .switch-tmce{ border-color:#E5E5E5 }
.acf-editor-wrap{ margin-top: -10px }
.acf-postbox.seamless>.acf-fields>.acf-tab-wrap .acf-tab-group li.active a { background: #fff }
.acf-image-uploader .image-wrap img{ max-width: 86px }
.acf-icon.-pencil { font-size: 11px }
.select2-container--default .select2-selection--single{ border-radius: 0 }
.select2-container--default .select2-selection--single .select2-selection__arrow b{ border-color: #000 transparent transparent transparent }
.select2-container--default .select2-selection--single { border-color: #ddd }
.acf-field .acf-label label, .post-attributes-label, .acf-flexible-content .layout .acf-fc-layout-handle span, #edittag .form-table th{ font-weight: normal }
.acf-flexible-content .layout .acf-fc-layout-handle, .acf-accordion .acf-accordion-title label{ font-weight: 600 }
.acf-field.acf-accordion .acf-accordion-title{ padding: 9px }
.acf-relationship .filters .filter input { border: 1px solid #ddd }

/* User */
#your-profile select, #your-profile textarea, #your-profile .description, #your-profile .select2, #your-profile .acf-taxonomy-field{ max-width: 25em; width: 100% }
#your-profile .description{ line-height: 1; opacity: 0.5 }
#your-profile label, #your-profile th[scope=row], #your-profile .user-profile-picture th{ font-weight: normal }

/* WP5.5 */
.php-error #adminmenuback, .php-error #adminmenuwrap{ margin-top: 0 }
.handle-order-higher, .handle-order-lower{ display: none }
.acf-postbox.seamless > .postbox-header{ display: none }
.postbox-header{ border-bottom: 0 }
#wpfooter{ display: none }
.acf-field{ min-height: auto!important }
.acf-fields>.acf-field{ padding: 6px 12px }
.acf-field .acf-label{ margin-bottom: 6px }