/* Roles */
.no-publish a.page-title-action,
.no-publish a[href^="post-new.php"],
.no-publish .taxonomy-add-new,
.no-publish.taxonomy-item #col-container #col-left,
.no-publish #wp-admin-bar-new-content{ display: none!important; }

.no-publish.taxonomy-item #col-container #col-right{ width: 100%; float: none }

.no-acf_edit_layout [data-name="add-layout"],
.no-acf_edit_layout [data-name="remove-layout"]
{ display: none!important }

.no-acf_edit_image .acf-field-image .acf-actions.-hover,
.no-acf_edit_file .acf-field-file .acf-actions.-hover{ display: none!important }

.no-acf_edit_layout .acf-repeater .acf-actions,
.no-acf_edit_layout [data-event="add-row"],
.no-acf_edit_layout [data-event="remove-row"]
{ display: none!important }

.no-acf_edit_layout .acf-flexible-content .layout .acf-fc-layout-handle{ cursor: pointer!important }

.no-acf_edit_true-false .acf-field-true-false .acf-input label,
.no-acf_edit_radio .acf-field-radio .acf-input label,
.no-acf_edit_post-object .acf-field-post-object .select2
{ pointer-events: none!important; opacity: 0.5; }

/* Bundle specific */
.options-media-php .wrap .form-table tr:nth-child(2),
.options-media-php .wrap .form-table tr:nth-child(3){ display: none }

#the-list .attachment-thumbnail-container{ position: relative; display: inline-block }
#the-list .attachment-thumbnail-container:hover .attachment-thumbnail{ display: block; z-index: 999 }
#the-list .attachment-thumbnail{ width: 60px; height: auto; border-radius: 2px; display: block }
#the-list .attachment-thumbnail+.attachment-thumbnail{ width: auto; position: absolute; left: 50%; top: 50%; display: none; transform: translate(-50%, -50%); box-shadow: 0 0 4px rgba(0,0,0,0.2) }
#the-list .attachment-thumbnail-container+a{ display: none!important }
.manage-column.num{ text-align: left }

.headless #post-preview, .headless #wp-admin-bar-view{ display: none }

/* Bugfix */
.js .tmce-active .wp-editor-area { color: inherit!important }
.compat-item .label { min-width: 20%; margin-right: 3% }
.compat-item .field { width: 77%; margin: 0; padding-top: 5px }
.compat-item .field > input { margin-left: 0!important; margin-top: 0!important }
.media-modal .compat-item label { font-size: 12px }
#editable-post-name input{ min-height: 0 }
.form-field textarea, .form-field input{ width: 100%!important; }
.form-field select{ max-width: none }
#addtag{ padding-right: 5% }
#addtag #acf-term-fields{ padding-right: 0 }
@media screen and (max-width: 782px){
    #addtag{ padding-right: 0 }
}

/* Quick redesign */
h1, h2, h3, h4, h5, h6, #adminmenu .wp-submenu li.current, #adminmenu .wp-submenu li.current a, #adminmenu .wp-submenu li.current a:hover,
#comment-status-display, #dashboard_right_now .versions .b, #ed_reply_toolbar #ed_reply_strong,
#pass-strength-result.short, #pass-strength-result.strong, #post-status-display, #post-visibility-display,
.feature-filter .feature-name, .item-controls .item-order a, .media-item .percent, .plugins .name, b, strong, .row-title{ font-weight: 500 }

table.widefat, .widefat thead td, .widefat thead th, .widefat tfoot td, .widefat tfoot th{ border-color: #e0e0e0 }
table.widefat{ box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15); outline: 1px solid transparent; border-radius: 3px; border: 0 }
.widefat tfoot td, .widefat th, .widefat thead td{ font-size: 13px }
.post-state{ font-size: 90%; vertical-align: bottom }

.wp-core-ui select{ font-size: 13px }
.post-php .wrap h1, .post-new-php .wrap h1 { font-size: 16px }
.post-php .page-title-action{ display: none }
#comment-link-box, #edit-slug-box{ padding: 0 }
ul.category-tabs{ margin-bottom: 4px }
.wp-tab-active, ul.add-menu-item-tabs li.tabs, ul.category-tabs li.tabs, .acf-tab-group li a, .nav-tab { border-radius: 3px 3px 0 0 }
.postbox, .card, .accordion-container, .menu-edit{ border: 0!important; border-radius: 3px; box-shadow: 0 0 0 1px rgba(3,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15)!important; overflow: hidden }
.postbox.seamless{ box-shadow: none!important }
#major-publishing-actions{ background: none }
.menu-item-handle, .attachment-preview{ border-radius: 3px }

input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month],
input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url],
input[type=week], textarea, #titlediv #title {
    box-shadow: inset 0 1px 0 0 rgba(63,63,68,0.05); border-color: #c4cdd5; transition-duration: 200ms; border-radius: 3px;
    transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1); transition-property: background, border, box-shadow, -webkit-box-shadow; outline: none
}
.wp-core-ui select{ border-color: #c4cdd5;  }
input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus,
input[type=number]:focus, input[type=password]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus,
input[type=week]:focus, select:focus, textarea:focus, #titlediv #title:focus {
    outline: none; box-shadow: inset 0 1px 0 0 rgba(63,63,68,0.05);
}

div.mce-toolbar-grp, .html-active .switch-html, .tmce-active .switch-tmce { background: #F9F9F9!important }
.mce-top-part::before{ display: none }
.wrap .page-title-action, .wrap .page-title-action:active, .wrap .page-title-action:hover, .wp-core-ui .button, .wp-core-ui .button-secondary {
    padding: 7px 16px; background: linear-gradient(180deg,#fff,#f9fafb); border: 1px solid #c4cdd5;
    box-shadow: 0 1px 0 0 rgba(22,29,37, 0.05); border-radius: 3px; line-height: 1; color: #212b36;
}
.form-wrap p, p.description, p.help, span.description { line-height: 110%; opacity: 0.8 }
.form-table p{ max-width: 600px }
.form-table p.description{ font-size: 90% }
input.large-text, textarea.large-text { width: 35.7rem }
.form-table td fieldset label { margin: .35em 0 1em!important }


/* ACF */
.acf-field input[type="text"], .acf-field input[type="password"], .acf-field input[type="date"], .acf-field input[type="datetime"],
.acf-field input[type="datetime-local"], .acf-field input[type="email"], .acf-field input[type="month"], .acf-field input[type="number"],
.acf-field input[type="search"], .acf-field input[type="tel"], .acf-field input[type="time"], .acf-field input[type="url"],
.acf-field input[type="week"], .acf-field textarea, .acf-field select{
    font-size: 13px;
}
.acf-field .acf-label label, .post-attributes-label, .acf-flexible-content .layout .acf-fc-layout-handle span, #edittag .form-table th {
    font-weight: 500;
}
.acf-tab-group li a{ font-weight: normal; font-size: 13px }
.acf-tab-group li.active a{ font-weight: 500 }
.acf-true-false{ padding: 5px 0 }
.acf-input-prepend, .acf-input-append{ border-color:#c4cdd5; font-size: 13px }
.acf-fields>.acf-field{ padding: 10px }
.acf-field{ min-height: auto!important }
.inside.acf-fields>.acf-field>.acf-label label{ cursor: default }
.acf-field .acf-label{ margin-bottom: 6px }
.acf-fields.-border, .acf-file-uploader .file-wrap{ border-radius: 3px; overflow: hidden }
.acf-field select{ font-size: 13px }
.acf-postbox.seamless>.inside { margin-left: -10px !important; margin-right: -10px !important }
.form-table>tbody>.acf-tab-wrap td{ padding: 0; padding-left: 220px; }
.form-table>tbody>tr.acf-tab-wrap .acf-tab-group{ padding: 0 }
.acf-flexible-content .layout{ margin-top: 10px; border-radius: 3px }
.acf-flexible-content .layout .acf-fc-layout-handle{ font-size: 13px }
.acf-image-uploader .image-wrap img{ border-radius: 3px; max-width: 125px }
@media screen and (max-width: 782px){
    .form-table>tbody>.acf-tab-wrap td{ padding-left: 0 }
    .form-table>tbody>.acf-field>.acf-label{ padding: 0; margin: 0; padding-top: 10px }
    .form-table>tbody>.acf-field>.acf-input{ padding: 0 }
}

/* Fix WP5.5 Contrast */
.handle-order-higher, .handle-order-lower{ display: none }
.acf-postbox.seamless > .postbox-header{ display: none }
.postbox-header{ border-bottom: 0 }
#wpfooter{ display: none }
.form-table th{ font-weight: normal }
#side-sortables .acf-gallery-sort{ display: none }