###############################################
##                                           ##
##    Wordpress Bundle configuration file    ##
##                                           ##
###############################################


####################
##    Security    ##
####################

key: #https://api.wordpress.org/secret-key/1.1/salt/
  auth : 'O-} !h|JpOq^w,CXn+O5=o3MvkN_So+ O0-chs$+a>KJq*i~/!ykEd<]IsPdgI#6'
  secure_auth : 'r HvS?mdf^4xc.Iy^G*<ZliwL5r_w.]CUWIu|j0{sfq-M)k:Lhi-),qCDcN<Yy+w'
  logged_in : 'u`UAyT)Wp0bT&Z.^e3RWTWDs?Je9K0UBQDJqG$W*yb9YG1yl,|*:LQV^ZUt|Q~#.'
  nonce : 'cV9Q^z7H{oI>H6>>vLHQYB[)1N&#ur(# Iqw*k?r-FkQ+#eo9<R^1N?uo.*N~!J5'

salt:
  auth : 'w9J/dNw/bv}@Z#/YcrjPcH$^_[ni&4tji0JA0?na}yTw#0}yuZW>BXDVVjVGA+vk'
  secure_auth : 'T7ntE>-j*2G3Qosn;0?|7{aqs&SU) }_S ~6f5k~PTedeX^jNe&T h)9(k4nT2Rq'
  logged_in : 'w/iowiks]_i5b#/SqYuD2`28o</-L|P4H3vq@!<OrH 7Q!gxB[Q4m`/*CiVdylGs'
  nonce : 'gelPRQb4NzO=4pOG_5YnuN(5G~YJCIutY*BL%!:ds(TqwDd;F[PsI,gT_1J-9;;D'


#########################
##    Image options    ##
#########################

image:
  compression: 90 #on the fly compression ration
  show_meta: false #add metadata to Image entity
  resize: #resize image on upload to save server space
    max_width: 1920
    max_height: 2160


###########################
##    Admin interface    ##
###########################

## Enable maintenance mode support
maintenance: true

## Hide pages from menu
remove_menu_page:
  - edit-comments.php #Comments
#  - index.php #Dashboard
#  - jetpack #Jetpack
#  - upload.php #Media
#  - themes.php #Appearance
#  - plugins.php #Plugins
#  - users.php #Users
#  - tools.php #Tools
#  - options-general.php #Settings

## Hide page from submenu
remove_submenu_page:
  themes.php: customize.php?return=%2Fedition%2Fwp-admin%2F

## Customize WYSIWYG Editor TinyMCE Buttons
##https://www.tiny.cloud/docs/advanced/editor-control-identifiers/
mce_buttons:
  - formatselect
  - bold
  - italic
  - underline
  - sup
  - strikethrough
  - superscript
  - bullist
  - numlist
  - blockquote
  - hr
  - table
  - alignleft
  - aligncenter
  - alignright
  - alignjustify
  - link
  - unlink
  - wp_more
  - spellchecker
  - wp_adv
  - dfw

##################
##    System    ##
##################

## Add theme support
support:
  - template #uncomment for api only backoffice
  - thumbnail #add thumbnails to page
  - page #enable page
  - post #enable post
  - tag #enable tag taxonomy for post
  - category #enable category taxonomy for post

## Allow multisite installation
install-multisite: true

## Multisite configuration ( after install )
# multisite:
#  subdomain_install: true
#  shared_media: true
#  multidomain: true
#  clone_post: true

## Declare constant
#define:
#  disallow_file_edit: false

###############
##    ACF    ##
###############

acf:
  settings:
    autoload: true #autoload options
    google_api_key: XXXYYYZZZ #https://developers.google.com/maps/documentation/javascript/get-api-key
  options_page: #add option pages https://www.advancedcustomfields.com/resources/options-page/
    - 'Personnalisation'
  toolbars: #customize wysiwyg toolbar
    Full:
      1:
        - bold
        - italic
        - underline
        - blockquote
        - strikethrough
        - superscript
        - bullist
        - numlist
        - blockquote
        - hr
        - table
        - alignleft
        - aligncenter
        - alignright
        - alignjustify
        - link
        - unlink
        - wp_more
        - spellchecker
        - wp_adv
        - dfw
      2:
        - strikethrough
        - hr
        - forecolor
        - pastetext
        - removeformat
        - charmap
        - outdent
        - indent
        - undo
        - redo
        - wp_help
    Basic:
      1:
        - bold
        - italic
        - underline
        - blockquote
        - strikethrough
        - superscript
        - bullist
        - numlist
        - table
        - alignleft
        - aligncenter
        - alignright
        - undo
        - redo
        - link
        - fullscreen


################
##    Menu    ##
################

menu:
  footer: Footer
  header: Header


##########################
##    New post types    ##
##########################

post_type: # https://codex.wordpress.org/Function_Reference/register_post_type
  guide:
    menu_icon: book #https://developer.wordpress.org/resource/dashicons/
    has_archive: true
    #enable_for_blogs:
    #  - 1
    #disable_for_blogs:
    #  - 2#
    #has_options: true #add acf page option to post type menu
    capability_type: post
    #publicly_queryable: false
    ## options for archive page
    #posts_per_page: 11
    #orderby: name #https://codex.wordpress.org/Class_Reference/WP_Query#Order_.26_Orderby_Parameters
    #order: ASC
    supports:
      - title
      - excerpt
      - thumbnail
    #columns: #add new column to post listing, thumbnail|meta
     # - thumbnail
    #taxonomies:
     # - category
    #labels:
    #  name:           'Guides'
    #  singular_name:  'Guide'
    #  all_items:      'Tous les guides'
    #  edit_item:      'Editer le guide'
    #  view_item:      'Voir le guide'
    #  update_item:    'Mettre à jour le guide'
    #  add_new_item:   'Ajouter un guide'
    #  new_item_name:  'Nouveau guide'
    #  search_items:   'Rechercher un guide'
    #  popular_items:  'Guides populaires'
    #  not_found:      'Aucun guide trouvé'


##########################
##    New taxonomies    ##
##########################

taxonomy: # https://codex.wordpress.org/Function_Reference/register_taxonomy
  item:
    ## options for archive page
    #posts_per_page: 11
    #orderby: name #https://developer.wordpress.org/reference/classes/wp_term_query/__construct/
    #order: ASC
    #radio: true #display terms selection as radio instead of checkbox
    #publicly_queryable: false
    object_type:
      - guide
    #labels:
    #  name:           'Catégories'
    #  singular_name:  'Catégorie'
    #  all_items:      'Toutes les catégories'
    #  edit_item:      'Editer la catégorie'
    #  view_item:      'Voir la catégorie'
    #  update_item:    'Mettre à jour la catégorie'
    #  add_new_item:   'Ajouter une catégorie'
    #  new_item_name:  'Nouvelle catégorie'
    #  search_items:   'Rechercher une catégorie'
    #  popular_items:  'Catégories populaires'
    #  not_found:      'Aucune catégorie trouvée'


####################################
##    Templates/States/Formats    ##
####################################

## Add post and taxonomy templates
#template:
#  page:
#    coming_soon: 'Coming Soon'
#    not_found: '404'
#  post:
#    video: 'Video'
#  taxonomy:
#    item:
#      edito: 'Edito'
#      podcast: 'Podcast'
#      reportage: 'Reportage'
#      video: 'Video'

## Add page states, like "homepage"
#page_states:
  #archive_guide: 'Archive des guides'

## Add post formats
#post_formats: # https://wordpress.org/support/article/post-formats/#supported-formats
#  - video
#  - gallery


#################################
##    Database table viewer    ##
#################################

#table:
#  newsletter:
#    page_title: Newsletter
#    menu_title: Newsletter
#    column_title: id
#    export: false
#    columns:
#      name: Name
#      email: Email
#      company: Company
#      type: Type
#  contact:
#    page_title: Contact
#    menu_title: Contact
#    column_title: id
#    columns:
#      name: Name
#      email: Email
#      company: Company
#      request: Request

#####################
##    Add Roles    ##
#####################
#role:
#  translator:
#    display_name: Traducteur
#    force: true
#    capabilities:
#      read: true
#      publish: false
#
#      edit_others_guides: true
#      read_guide: true
#      edit_guides: true
#      publish_guides: false
#      edit_published_guides: true
#
#      acf_edit_layout: false
#      acf_edit_repeater: false
#      acf_edit_true-false: false
#      acf_edit_radio: false
#      acf_edit_image: false
#      acf_edit_file: false
#      acf_edit_post-object: false
#
#      manage_items: true
#      edit_items: true


############################
##    Plugins specific    ##
############################

#plugins:
#  redirection:
#    redirection_role: edit_others_posts

#########################
##    Optimisations    ##
#########################
rewrite_rules:
  remove:
    - attachment
    - embed
    - trackback
    - feed
    - comment

#########################
##    Misc    ##
#########################

domain_name: rocket # MO/PO traductions

#search: # change search settings
# posts_per_page: 12

## controller name used when importing @WordpressBundle/Routing/permastructs.php
extra_permastructs:
  controller: BlogController